[Unit]
Description=TonalFlex Autostart Script
After=custom-elk.target
Wants=custom-elk.target

[Service]
Type=simple
RemainAfterExit=yes
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitSTACK=infinity
WorkingDirectory=/home/mind
ExecStart=/bin/bash /udata/autostart.sh
User=mind
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=custom-elk.target
